*{
	
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
		display:flex;
	justify-content:center;
	align-items:center;
	
}
.thiru-sec{
	
	width:80%;
	padding:20px;
	box-shadow:0px 0px 10px gray;
	height:auto;
	
}
.thi-img img{
	width:100%;
	height:auto;
}
.thiru-sec .btn{	
	color:black;
	background:rgb(255, 254, 245);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	padding:4px 20px;
	font-size:18px;
	border-radius:25px;
	
}
.thiru-sec .btn:focus{
	transition:0.5s;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}